* {
  box-sizing: border-box;
  margin: 0;
  }


  .menuham {
    margin-top: -3.5rem;
  }

  .menu {
    width: 0px;
  }
  
  #hamburger {
    display: none;
  }
  
  #hamburger-logo {
    cursor: pointer;
    background: rgb(185, 185, 185);
    width: 200px;
    display: block;
    color: white;
    text-align: right;
    transform: translateX(-168px);
    padding: 10px;
  }
  
  nav {
    display: flex;
    flex-direction: column;
    background: rgb(205, 201, 201);
    height: 60rem;
    overflow: hidden;
    width: 200px;
    transform: translateX(-200px);
    gap: 10%;
    font-size: 1.2rem;
  }
  
  #hamburger-logo,
  nav {
    transition: 0.7s;
  }
  

  #hamburger:checked ~ #hamburger-logo,
  #hamburger:checked ~ nav {
    transform: translate(0);
  }
  
  nav a {
    color: white;
    text-decoration: underline;
    padding: 10px;
  }
  
  nav a:hover {
    background: #444;
  }

  .a {
    margin-top: 10%;
  }
  
.search {
display: flex;
justify-content: center;
align-items: center;
padding: 0.75rem;
width: 30%;
margin-left: 35rem;
border-radius: 20px;
border: none;
background-color: rgba(223, 223, 223, 0.833);
}

.input  {
  display: flex;
  margin-top: 1rem;
}

.logo {
  display: flex;
  justify-content: right;
  align-items: right;
  width: 10rem;
  height: 10rem;
}