* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .menu {
    position: fixed;
    width: 0px;
  }
  
  #hamburger {
    display: none;
  }
  
  #hamburger-logo {
    cursor: pointer;
    background: black;
    width: 200px;
    display: block;
    color: white;
    text-align: right;
    transform: translateX(-168px);
    padding: 10px;
  }
  
  nav {
    display: flex;
    flex-direction: column;
    background: black;
    height: 60rem;
    overflow: hidden;
    width: 200px;
    transform: translateX(-200px);
    gap: 10%;
    font-size: 1.2rem;
  }
  
  #hamburger-logo,
  nav {
    transition: 0.7s;
  }
  

  #hamburger:checked ~ #hamburger-logo,
  #hamburger:checked ~ nav {
    transform: translate(0);
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
  }
  
  nav a:hover {
    background: #444;
  }

  .a {
    margin-top: 10%;
  }
  