body  {
  background: no-repeat;

}
.search {
display: flex;
justify-content: center;
align-items: center;
padding: 0.75rem;
width: 30%;
margin-left: 32rem;
border-radius: 20px;
border: none;
background-color: rgba(223, 223, 223, 0.833);
}

nav  a{ /* tous les liens a à l'intérieur de la balise nav */
  display: flex;
  justify-content: center;
  float: left; /* effet flottant */
  text-decoration: none; /* pas d'héritage avec effet souligné */
  color: #ffffff; /* couleur du texte */
  background: #000000; /* couleur de fond */
  height: 36px; /* hauteur */
  line-height: 33px; /* interligne */
  padding: 0 10px; /* marges intérieur */
  font-family: sans-serif; /* police d'écriture */
  font-size: 13px; /* taille du texte */
  transition: .5s; /* temps de transition lors du hover : une demi seconde */
  width: 10rem;
  }

  nav  a:hover{ /* tous liens lors du survol dans la balise nav */
  background: #f43c80; /* couleur de fond */
  }
  
  .color {
    margin-left: 25rem;
    display: grid;
    margin-top: 2rem;
  }


.logo {
  display: grid;
  align-items: right;
  width: 10rem;
  height: 10rem;
  border-radius: 80px;
  margin-left: 80rem;
  margin-top: -6rem;
}


.images img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
