<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title> Artistes </title>
<link rel="icon" type="image/png" href="../static/images/logo.png">
<link rel="stylesheet" href="../static/style/style.css">
<link rel="stylesheet" href="../static/style/span.css">
</head>
<body background="../static/images/back_artists.jpg" class="arriere">
  <header>
    <h1 class="pres"> Présentation des artistes </h1>
    <nav class="nav1">
      <a href="home">Page d'accueil</a>
      <a href="artistes">Artistes</a>
  </nav>
  </header>
  <main>
    <form>
      <label for="Check"></label>
      <input class="search1" type="text" name="Check" placeholder="Search for an artist or type 'all' for all the artists">
    </form>
    <form class="filter">
      <label for="sort"></label>
      <button class="button" type="submit" name="alpha" value="alpha">A-Z</button>
      <button class="button" type="submit" name="unalpha"  value="unalpha">Z-A</button>
      <button class="button" type="submit" name="firstalbum" value="firstalbum">First Album</button>
      <button class="button" type="submit" name="CreationDate" value="CreationDate">Creation Date</button>
      <button class="button" type="submit" name="mostArtists" value="mostArtists">+Artists</button>
      <button class="button" type="submit" name="lessArtists" value="lessArtists">-Artists</button>
    </form> 
    <a class="view" href="artistes?Check=all"><button class="buton">View all the artist</button></a>
    <ul class="artistes">
      {{range .}}
      <article class="artistes-name">
    <a href="relation?id={{.IdArtists}}"><img class ="artiste" src="{{.Images}}" alt="artistes" id="img"></a>
    <h4>{{.Name}}</h4>
      <p class="info"> Clique sur l'artiste pour avoir de plus amples informations !</p>
      </article>
      {{end}}
    </ul>
  </main> 
</body>
