<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title> Artistes </title>
<link rel="stylesheet" href="../style/style.css">
</head>
<body>
  <header>
    <h1 class="pres"> Présentation des artistes </h1>
    <nav class="nav1">
      <a href="home">Page d'accueil</a>
      <a href="dates">Dates</a>
      <a href="artistes">Artistes</a>
      <a href="location">Location</a> 
  </nav>
  <form>
    <label for="Check"></label>
    <input class="search" type="text" name="Check" placeholder="Search for an artist">
  </form>  
  <form >
    <label for="sort"></label>
    <button type="submit" name="alpha" value="alpha">A-Z</button>
    <button type="submit" name="unalpha"  value="unalpha">Z-A</button>
    <button type="submit" name="firstalbum" value="firstalbum">First Album</button>
    <button type="submit" name="CreationDate" value="CreationDate">Creation Date</button>
  </form>
  </header>
  <main>
    <ul class="artistes">
      {{range .}}
      <a href="/location{{.IdArtists}}"><img src="{{.Images}}" alt="image" id="{{.IdArtists}}"></a>
      <p>{{.IdArtists}}</p>
      {{end}}
    </ul>
  </main>
</body>