<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title> Accueil </title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body background="../images/aurelien.png">
<header class="global_header">
  <input class="search" type="text" placeholder="Search for an artist">

<section class="color">
  <nav class="nav">
    <a href="../templates/hom.html"> Accueil </a>
    <a href="../templates/dates.html"> Dates </a>
    <a href="../templates/artistes.html"> Artistes </a>
    <a href="../templates/location.html"> Location </a> 
  </nav> 
</section>
<img class="logo" src="../images/logo.png" alt="logo">
</header>
<main>  
  <section class="images">
    <ul>
      {{range .}}
      <img src="{{.Images}}" alt="image">          
      <p>{{.Name}}</p>
          {{end}}
    </ul>
  </section>
</main>
</body>
</html>
