<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title> Accueil </title>
    <link rel="stylesheet" href="../style/style.css">
</head>  
<body>
    <nav class="apagnan">
        <a href="/"> ACCUEIL </a>
        <a href="/artistes"> ARTISTES </a>
        <a href="/dates"> DATES </a>
        <a href="/location"> LOCATION </a>
        <section class="artistes">
            <ul>
                {{range .}}
                    <img src="{{.Images}}" alt="image">
                    <p>{{.Name}}</p>
                {{end}}
            </ul>
        </section> 
        <input class ="search" type="text" placeholder="Search for apagnan">
    </nav>
</body>                      

