<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title> Accueil </title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
  <header>
  <section class="input">
    <input class="search" type="text" placeholder="Search for an artist">
  </section>
  </header>
    <img class ="logo" src="../images/logo.jpeg" alt="groupie logo">
  <section class="menuham">
  <section class="menu">
    <input type="checkbox" id="hamburger">
    <label id="hamburger-logo" for="hamburger">☰</label>
    <nav>
      <a href="home.html">Page d'accueil</a>
      <a href="dates.html">Dates</a>
      <a href="artistes.html">Artistes</a>
      <a href="location.html">Location</a>
    </nav>
  </section>
  </section>
  <footer>
    <section class="artistes">
      <ul>
          {{range .}}
              <img src="{{.Images}}" alt="image">
              <p>{{.Name}}</p>
              <p>{{.Members}}</p>
              <p>{{.CreationDate}}</p>
              <p>{{.FirstAlbum}}</p>
          {{end}}
      </ul>
  </section>
  </footer>
</body>
</html>
