<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/style.css">
    <title>Document</title>
</head>
<body class="loading" background="../static/images/Glowing-Dot-CSS-Loading-animation.gif">
    <h1>Please wait, we're loading the data !</h1>
</body>
<script>
    const queryParams = new URLSearchParams(window.location.search);
    const id = queryParams.get('id');
    setTimeout(function() {
        window.location.href = "http://localhost:8768/relation?id=" +  id;
    }, 1);
</script>
</html>