<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../static/images/logo.png"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="../static/style/style.css"/>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css" />
    <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>

<title> Location </title>
</head>
<body background="../static/images/relation.jpg" class="relation">
    <header>
    <nav class="nav2">
        <a href="">Home Page</a>
        <a href="artistes">Artists</a>
    </nav>
    <img class ="imgrelation" src="{{.Infos.Images}}" alt="artistes" id="img">
    <p class="membre"> Members :</p>
    <section class="infoname"> 
    {{.Infos.Name}} 
    {{.Infos.Members}}
    </section>
    </header>
    <main>
    <div id="map"></div>
    <p class="concert">⚠️ Don't miss the next concert of {{.Infos.Name}} ! ⚠️</p>
    <section class="dateconcert">
    {{range $key, $value := .DateLocation}}
        <p>{{printf "%s: %s" $key $value}}</p>
    {{end}}
    </section>
    </main>
    <div id="cone"></div>
    <div id="cone1"></div>
</body>
<script src="../static/script/script_relation.js"></script>
</html>
